<h2>CRUD QUALITY</h2>
<div class="formularioRegistro">
<form [formGroup]="stakeForm" (ngSubmit)="guardar()">
  <div class="form-group">
    <label>Tipo Documento</label>
    <input type="text" formControlName="b_documen_type" class="form-control">
  </div>
  <div class="form-group">
    <label>Numero de Documento</label>
    <input type="number" formControlName="v_documen_number" class="form-control">
  </div>

  <div class="form-group">
    <label>Primer Nombre</label>
    <input type="text" formControlName="v_first_name" class="form-control">
  </div>

  <div class="form-group">
    <label>Segundo Nombre</label>
    <input type="text" formControlName="v_second_name" class="form-control">
  </div>

  <div class="form-group">
    <label>Primer Apellido</label>
    <input type="text" formControlName="v_first_surname" class="form-control">
  </div>

  <div class="form-group">
    <label>Segundo Apellido</label>
    <input type="text" formControlName="v_second_surname" class="form-control">
  </div>

  <div class="form-group">
    <label>Nombre Completo</label>
    <input type="text" formControlName="v_full_name" class="form-control">
  </div>

  <div class="form-group">
    <label>Fecha Cumpleaños</label>
    <input type="date" formControlName="date_birth" class="form-control">
  </div>

  <div class="form-group">
    <label>Ciudad</label>
    <input type="text" formControlName="v_city" class="form-control">
  </div>

  <div class="form-group">
    <label>Sexo</label>
    <input type="number" formControlName="i_sex" class="form-control">
  </div>

  <div class="form-group">
    <label>Enabled</label>
    <input type="number" formControlName="i_enable" class="form-control">
  </div>

  <div class="form-group">
    <label>Usuario</label>
    <select name="users" id="users" formControlName="users" class="form-control">
      <option [ngValue]="item" *ngFor="let item of user">{{item.v_name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Fecha Creación</label>
    <input type="datetime" formControlName="t_creation_date" class="form-control">
  </div>

  <button type="submit" [disabled]="stakeForm.invalid">Guardar</button>
</form>
</div>

<!-- tabla de lectura -->
<table class="table">
  <thead>
    <tr>
      <th>Tipo Documento</th>
      <th>Numero de Documento</th>
      <th>Primer Nombre</th>
      <th>Segundo Nombre</th>
      <th>Primer Apellido</th>
      <th>Segundo Apellido</th>
      <th>Nombre Completo</th>
      <th>Fecha Cumpleaños</th>
      <th>Ciudad</th>
      <th>Sexo</th>
      <th>Enabled</th>
      <th>Usuario</th>
      <th>Fecha Creación</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of stake">
      <td>{{item.b_documen_type}}</td>
      <td>{{item.v_documen_number}}</td>
      <td>{{item.v_first_name}}</td>
      <td>{{item.v_second_name}}</td>
      <td>{{item.v_first_surname}}</td>
      <td>{{item.v_second_surname}}</td>
      <td>{{item.v_full_name}}</td>
      <td>{{item.d_date_birth}}</td>
      <td>{{item.v_city}}</td>
      <td>{{item.i_sex}}</td>
      <td>{{item.i_enable}}</td>
      <td>{{item.users.v_name}}</td>
      <td>{{item.t_creation_date}}</td>
      <td>
        <button (click)="editar(item)">Editar</button>
        <button (click)="eliminar(item)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>